*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Playfair+Display:ital@1&family=Roboto+Mono:wght@100&display=swap');
$colorWhite: white;
// $blueColor : #7289da;
$secondaryColor : #7289da;
// $hover-color : #36457c;
$hoverColor : #36457c;
// $colorGray: #424549;
$thirstColor: #424549;
// $colorBlack : #36393E;
$primaryColor: #36393E;
$alertColor: tomato;
// $fontJosefin : 'Josefin Sans';
$primaryFont: 'Josefin Sans', Verdana, Geneva, Tahoma, sans-serif;
// $background-image: url('./../../src/img/fondConInsc.jpg');
$bgPic: url('./../../src/img/fondConInsc.jpg');


// Fix Florian

body {
    background-color: $primaryColor;
    font-family: $primaryFont;
    font-size: 16px;
    header {
        nav {
            max-width: 1500px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: auto;

        img {
           width: 3rem;  
        }

        ul {
            display: flex;
            list-style: none;

            li {
                a {
                    display: block;
                    padding: 2rem;
                    text-decoration: none;
                    color: $colorWhite;
                    font-family: $primaryFont ;
                }

                a:hover {
                    background-color: $secondaryColor;
                    color: $thirstColor;
                }
            }
        }
    }
    }

    aside{
        width: 25%;
        border-right: 2px solid $secondaryColor;
        a{
            display: flex;
            text-decoration: none;
            color: $colorWhite;
            padding: 1rem;
            &:first-child {
                background-color: $secondaryColor;
            }
            }
        div {
            display: flex;
            width: 70%;
            margin: 0.5rem auto;
            align-items: center;
            transition: transform 0.2s;

            &:hover{
                transform: scale(1.1);
            }
            form {
                button {
                    all: unset;
                    i {
                        color: $alertColor;
                        font-size: 2rem;
                        margin-right: 1rem;
                    }
                }
            }
            img {
                width: 40px;
                height: 40px;
                object-fit: cover;
            }
            p {
                margin-left: 0.5rem;
            }
        }
    }

    main {
        .discordPicuture {
            display: flex;
            justify-content: center;
    
            img {
                width: 5rem;
                margin-top: 5rem;
            }
        }
    
        .welcomeDiscord {
            text-align: center;
            color: $colorWhite;
            font-weight: bold;
            text-transform: uppercase;
            margin-top: 15rem;
            font-family: $primaryFont;
    
            a {
                color: $secondaryColor;
            }
        }

    }

    footer {

    }
}
.salonPage {
    .messageSalon {
        top: 50%;
        text-align: center;
        color: $colorWhite;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 50%);
    }

    .formMess {
        position: absolute;
        bottom: 0;
        transform: translate(-50%, 50%);
        left: 50%;

        .champ {
            position: relative;

            .chatPost {
                border-radius: 0 10px 10px 0;
                position: absolute;
                right: 0;
                height: 92%;
                background-color: $thirstColor;
                color: $colorWhite;
                width: 2rem;
                cursor: pointer;
            }

            textarea {
                border-radius: 10px;
                background-color: $secondaryColor;
                padding: 0.3rem;
                width: 25rem;
            }
        }
    }
}

.container {
    height: 100vh;
    background-image: $bgPic;
    display: flex;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .all {
        background: $thirstColor;
        height: 50vh;
        margin: auto;
        width: 70%;
        border: solid 2px $thirstColor;
        box-shadow: -1px 3px 10px 10px $secondaryColor;
        h2 {
            color: $colorWhite;
            padding-top: 5rem;
            font-family: $primaryFont;
            text-align: center;
        }

        .blocJoinCreate {
            font-family: $primaryFont;
            color: $colorWhite;
            margin-top: 10rem;
            display: flex;
            justify-content: space-around;

            a {
                font-family: $primaryFont;
                transition: 0.5s;
                padding: 2rem;
                color: $colorWhite;
                text-decoration: none;
            }

            a:hover {
                font-size: 2rem;
                cursor: pointer;
                background-color: $secondaryColor;
            }
        }
    }
}

.body_form {
    display: flex;
    justify-content: center;
    background-image: $bgPic;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .625rem;
    margin: auto;
    padding: 1.875rem;
    width: 70%;
    border-radius: 5px;
    background-color: $thirstColor;
}

form h1 {
    color: $colorWhite;
}

.form .input-span {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

form input[type="text"],
form input[type="password"] {
    border-radius: 0.5rem;
    padding: 1rem 0.75rem;
    width: 100%;
    border: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: $colorWhite;
    background-color: $primaryColor;
    outline: 2px solid $secondaryColor;
}

form input[type="text"]:focus,
form input[type="password"]:focus {
    outline: 2px solid $secondaryColor;
    background-color: $hoverColor;
}

.label {
    align-self: flex-start;
    color: $colorWhite;
    font-weight: 600;
}

form .submit {
    padding: 1rem 0.75rem;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 3rem;
    background-color: $secondaryColor;
    color: $colorWhite;
    border: none;
    cursor: pointer;
    transition: all 300ms;
    font-weight: 600;
    font-size: .9rem;
}

form .submit:hover {
    background-color: $hoverColor;
    color: $colorWhite;
}

.span {
    text-decoration: none;
    color: $colorWhite;
}

.span a {
    color: $secondaryColor;
}
.white{
    display: flex;
    justify-content: center;
  color: $colorWhite;

}





// Partie Valentin
// .AcceuilPages {
//     background-color: $primaryBgColor;
// }

// header {
//     background-color: $colorGray;
//     width: 100%;

//     nav {
//         max-width: 1500px;
//         display: flex;
//         align-items: center;
//         justify-content: space-between;
//         margin: auto;

//         img {
//            width: 3rem;  
//         }

//         ul {
//             display: flex;
//             list-style: none;

//             li {
//                 a {
//                     display: block;
//                     padding: 2rem;
//                     text-decoration: none;
//                     color: $colorWhite;
//                     font-family: $fontJosefin ;
//                 }

//                 a:hover {
//                     background-color: $blueColor;
//                     color: $colorGray;
//                 }
//             }
//         }
//     }
// }

// main {
//     .discordPicuture {
//         display: flex;
//         justify-content: center;

//         img {
//             width: 5rem;
//             margin-top: 5rem;
//         }
//     }

//     .welcomeDiscord {
//         text-align: center;
//         color: $colorWhite;
//         font-weight: bold;
//         text-transform: uppercase;
//         margin-top: 15rem;
//         font-family: $fontJosefin;

//         a {
//             color: $blueColor;
//         }
//     }

// }

// .salonPage {
//     .messageSalon {
//         top: 50%;
//         text-align: center;
//         color: $colorWhite;
//         position: absolute;
//         left: 50%;
//         transform: translate(-50%, 50%);
//     }

//     .formMess {
//         position: absolute;
//         bottom: 0;
//         transform: translate(-50%, 50%);
//         left: 50%;

//         .champ {
//             position: relative;

//             .chatPost {
//                 border-radius: 0 10px 10px 0;
//                 position: absolute;
//                 right: 0;
//                 height: 92%;
//                 background-color: $colorGray;
//                 color: $colorWhite;
//                 width: 2rem;
//                 cursor: pointer;
//             }

//             textarea {
//                 border-radius: 10px;
//                 background-color: $blueColor;
//                 padding: 0.3rem;
//                 width: 25rem;
//             }
//         }
//     }
// }

// .contnair {
//     height: 100vh;
//     background-image: $background-image;
//     display: flex;
//     justify-content: center;
//     background-size: cover;
//     background-position: center;
//     background-repeat: no-repeat;

//     .all {
//         background: $colorGray;
//         height: 50vh;
//         margin: auto;
//         width: 70%;
//         border: solid 2px $colorGray;
//         box-shadow: -1px 3px 10px 10px $blueColor;
//         h2 {
//             color: white;
//             padding-top: 5rem;
//             font-family: 'Josefin Sans';
//             text-align: center;
//         }

//         .blocJoinCreate {
//             font-family: 'Josefin Sans';
//             color: white;
//             margin-top: 10rem;
//             display: flex;
//             justify-content: space-around;

//             a {
//                 font-family: $fontJosefin;
//                 transition: 0.5s;
//                 padding: 2rem;
//                 color: $colorWhite;
//                 text-decoration: none;
//             }

//             a:hover {
//                 font-size: 2rem;
//                 cursor: pointer;
//                 background-color: $blueColor;
//             }
//         }
//     }
// }

// partie vincent
// $background-image: url('./../../src/img/fondConInsc.jpg');


// .body_form {
//     display: flex;
//     justify-content: center;
//     background-image: $background-image;
//     background-size: cover;
//     background-position: center;
//     background-repeat: no-repeat;
//     height: 100vh;
// }

// .form {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     gap: .625rem;
//     margin: auto;
//     padding: 1.875rem;
//     width: 70%;
//     border-radius: 5px;
//     background-color: $colorGray;
// }

// form h1 {
//     color: $colorWhite;
// }

// .form .input-span {
//     width: 100%;
//     display: flex;
//     flex-direction: column;
//     gap: .5rem;
// }

// form input[type="text"],
// form input[type="password"] {
//     border-radius: 0.5rem;
//     padding: 1rem 0.75rem;
//     width: 100%;
//     border: none;
//     display: flex;
//     align-items: center;
//     gap: 0.5rem;
//     color: $colorWhite;
//     background-color: $colorBlack;
//     outline: 2px solid $blueColor;
// }

// form input[type="text"]:focus,
// form input[type="password"]:focus {
//     outline: 2px solid $blueColor;
//     background-color: $hover-color;
// }

// .label {
//     align-self: flex-start;
//     color: $colorWhite;
//     font-weight: 600;
// }

// form .submit {
//     padding: 1rem 0.75rem;
//     width: 50%;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     gap: 0.5rem;
//     border-radius: 3rem;
//     background-color: $blueColor;
//     color: $colorWhite;
//     border: none;
//     cursor: pointer;
//     transition: all 300ms;
//     font-weight: 600;
//     font-size: .9rem;
// }

// form .submit:hover {
//     background-color: $hover-color;
//     color: $colorWhite;
// }

// .span {
//     text-decoration: none;
//     color: $colorWhite;
// }

// .span a {
//     color: $blueColor;
// }
// .white{
//     display: flex;
//     justify-content: center;
//   color: $colorWhite;

// }
// .positionChannel{
// display: flex;
// align-items: center;
// transition: transform 0.2s
// }
// .imgChannel{
//     width: 40px;
//     height: 40px;
// }
// aside{
//     width: 25%;
//     border-right: 2px solid cornflowerblue;
//     span{
//         display: flex;
//         color: $colorWhite;
//         }
// }
// .positionChannel:hover {
//    transform: scale(1.1);
// }

