$colorWhite:white;
$blueColor : #7289da;
$colorGray: #424549;
$colorBlack : #36393E;
// Partie Valentin
.AcceuilPages{
  background-color: $colorBlack;
}
header{
    background-color: $colorGray;
    width: 100%;
    nav{
        max-width: 1500px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: auto;
        p{
         color: $colorWhite;
        }
        ul{
            display: flex;
            list-style: none;
            li{
                a{
                    display: block;
                    padding: 2rem;
                    text-decoration: none;
                    color: white;
                }
                a:hover{
                    background-color: $blueColor;
                    color: $colorGray;
                }
            }
        }
    }
}

